In [1]:
import sqlite3

In [2]:
pwd

u'C:\\Users\\darragh\\Documents\\Python workings'

In [3]:
conn = sqlite3.connect('renewable.db')# creates connection 
import pandas as pd 
locations = pd.read_sql_query("SELECT * FROM location", conn)
print locations

    long   lat  production trips  trip
0  52.66  7.26      259696  None  None
1  52.86  8.99       89499  None  None
2  54.28  8.48      271650  None  None
3  53.42  7.95       87606  None  None
4  52.34  6.48      298978  None  None
5  53.22  6.68      200068  None  None
6  52.36  7.71       60573  None  None
7  52.84  6.92      159794  None  None
8  53.18  6.80      163358  None  None
9  53.66  6.69      210817  None  None

In [7]:
list_location_long=[]
c = conn.cursor()
for i in c.execute("SELECT long FROM location;"):
    list_location_long.append(i)
    
print list_location_long

[(52.66,), (52.86,), (54.28,), (53.42,), (52.34,), (53.22,), (52.36,), (52.84,), (53.18,), (53.66,)]

In [47]:
list_location_production=[]
h = c.execute("SELECT production FROM location")
for i in h:
    list_location_production.append(i)
print list_location_production

[(259696.0,), (89499.0,), (271650.0,), (87606.0,), (298978.0,), (200068.0,), (60573.0,), (159794.0,), (163358.0,), (210817.0,)]

In [11]:
list_location_lat=[]
for i in c.execute("SELECT lat FROM location;"):
    list_location_lat.append(i)
print list_location_lat

[(7.26,), (8.99,), (8.48,), (7.95,), (6.48,), (6.68,), (7.71,), (6.92,), (6.8,), (6.69,)]

In [12]:
ports = pd.read_sql_query("SELECT * FROM ports", conn)
print ports

    long   lat
0  52.70  8.63
1  53.33  6.25
2  52.27  6.39

In [13]:
list_port_long=[]
for i in c.execute("SELECT long FROM ports"):
    list_port_long.append(i)
print list_port_long

[(52.7,), (53.33,), (52.27,)]

In [15]:
list_port_lat=[]
for i in c.execute("SELECT lat FROM ports"):
    list_port_lat.append(i)
print list_port_lat

[(8.63,), (6.25,), (6.39,)]

In [53]:
list_location_production1=[259696.0, 89499.0, 271650.0, 87606.0, 298978.0, 200068.0, 60573.0, 159794.0, 163358.0,210817.0]
trips=[]
for i in list_location_production1:
    result = i/40
    trips.append(result)
print trips

[6492.4, 2237.475, 6791.25, 2190.15, 7474.45, 5001.7, 1514.325, 3994.85, 4083.95, 5270.425]